src/nxa-sc-caas/nxa-sc-caas.csproj.user
*.dll
*.exe
*.cache
*.pdb
*.CopyComplete
*.editorconfig
*.props
*.targets
bin
obj
packages
.vs
.vscode
*.suo
*.testlog
*testlog.manifest
dist
**/node_modules
**/package-lock.json
