
<table>
<tr style="height:68vh;">
    <td >
        <app-monaco-editor [(code)]="initCode"></app-monaco-editor>
    </td>
    <td>
        <app-monaco-editor [(code)]="resultCode"></app-monaco-editor>
    </td>
</tr>
<tr style="height:30vh;">
    <td class="inputParams">
        <tr>
            <td>
                SystemOwnerAddress:
            </td>
            <td>
                <input type="text" id="systemOwnerAddress" class="inputField" value="NiNmXL8FjEUEs1nfX9uHFBNaenxDHJtmuB" #systemOwnerAddress>
            </td>
        </tr>
        <tr>
            <td>
                ContractAuthorAddress:
            </td>
            <td>
                <input type="text" id="contractAuthorAddress" class="inputField" value="NiNmXL8FjEUEs1nfX9uHFBNaenxDHJtmuB" #contractAuthorAddress>
            </td>
        </tr>
        <tr>
            <td>
                ContractAuthorName:
            </td>
            <td>
                <input type="text" id="contractAuthorName" class="inputField" value="name" #contractAuthorName>
            </td>
        </tr>
        <tr>
            <td>
                ContractAuthorEmail:
            </td>
            <td>
                <input type="text" id="contractAuthorEmail" class="inputField" value="dev@dvita.com" #contractAuthorEmail>
            </td>
        </tr>
        <tr>
            <td>
                ContractName:
            </td>
            <td>
                <input type="text" id="contractName" class="inputField" value="cname" #contractName>
            </td>
        </tr>
        <tr>
            <td>
                ContractDescription:
            </td>
            <td>
                <input type="text" id="contractDescription" class="inputField" value="desc" #contractDescription>
            </td>
        </tr>
        <tr>
            <td>
                ContractSymbol:
            </td>
            <td>
                <input type="text" id="contractSymbol" class="inputField" value="SYMBOL" #contractSymbol>
            </td>
        </tr>
        <tr>
            <td>
                ContractInitialCoins:
            </td>
            <td>
                <input type="text" id="contractInitialCoins" class="inputField" value="1" #contractFactor>
            </td>
        </tr>
        <tr>
            <td>
                ContractDecimals:
            </td>
            <td>
                <input type="text" id="contractDecimals" class="inputField" value="2" #contractDecimals>
            </td>
    </td>
    <td class="inputParams">
        <tr>
            <td>
                <button (click)="compileCode()"> Compile </button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="clearCode()"> Clear </button>
            </td>
        </tr>
    </td>
</tr>
</table>